.Nav {
	position: fixed;
	bottom: 2.75rem;
	right: 2.75rem;
    z-index: 50;
    max-width: 75rem;
    height: 10rem;
}

.expand {
	color: $peach-contrast-heavy;
    font-size: 4rem;
    transform: rotate(0);
    
    &-container {
        background-color: rgb(245, 245, 245);
        position: absolute;
        right: 0;
        bottom: 0;
        // padding: 3rem;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 50%;
        box-shadow: 0 0 2.5rem rgba(0,0,0,.3);
        cursor: pointer;
        height: 75px;
        width: 75px;
        font-size: 2.75rem;
        font-weight: 600;
    }

    &-items {
        text-decoration: none;
        font-size: 2.5rem;
        background-color: #0A3862;
        color: rgb(245, 245, 245);
        padding: 1rem 2.5rem;
        border-radius: 5rem;
        margin-top: .5rem;
        box-shadow: 0 0 2.5rem rgba(0,0,0,.3);

        &-container {
            transform: translateX(-125%);
            position: absolute;
            left: 0;
            height: 100%;
            width: calc(65rem);
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
        }
    }
}

.rotate {
    transform: rotate(45deg);
}