.provider-form {
    display: flex;
    width: 80%;
    max-width: 750px;
    justify-content: center;
    margin: 4rem auto;
    font-size: 2.35rem;

    &-container {
        // background-color: bisque;
        height: 100%;
        position: absolute;
        width: 100%;
        // overflow-y: auto;

    }

    &-options {
        // position: relative;
        width: 100%;
        display: flex;

        &-search,
        &-manual {
            width: 50%;
            color: $white;
            font-size: 2rem;
            padding: 2.5rem 0;
        }

        &-search {
            background: $peach-contrast-heavy;
            border: none;
        }

        &-manual {
            background: $peach-contrast-light;
            border: none;
        }
    }

    &-title {
        @include heading(2.75rem);
        margin-top: 2.5rem;
    }

    &-subtitle {
        @include heading(2.2rem);
        margin-top: .5rem;
    }

    &-search {
        &-input {
            flex-grow: 5;
            padding: 1.5rem 2.5rem;
            border: 3px solid transparent;
            box-shadow:inset 0 0 2.5rem rgba($black, .15);
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;

            box-shadow: 0 -.5rem 3.25rem rgba($black, .15);


            transition: .25s all;

            &:focus {
                outline: none;
                border: 3px solid $blue-main;
            }


        }

        &-submit {
            flex-grow: 1;
            border: none;
            background-color: $blue-main;
            color: $white;
            transition: .2s all;

            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;


            &:hover {
                background-color: $blue-dark;
            }
        }
    }

    &-results {
        overflow-y: scroll;
        position: absolute;
        max-height: 60%;
        box-shadow: inset 0 0 1.25rem rgba($blue-dark, .15);
        padding: 1rem 5rem;

        &-item {
            display: flex;
        }
    }
}