@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/mixins";

@import "./components/pages/FormContainer";
@import "./components/pages/Dashboard";


@import "./styles/util";
@import "./components/Header/Header.scss";
@import "./components/Symptom/SymptomCard.scss";
@import "./components/Provider/ProviderCard.scss";
@import "./components/Contact/ContactCard.scss";
@import "./components/Insurance/InsuranceCard.scss";
@import "./components/Medical_History/MedicalHistory.scss";
@import "./components/Nav/Nav.scss";

@import "./components/Provider/ProviderForm.scss";
@import "./components/Symptom/SymptomForm.scss";
@import "./components/Insurance/InsuranceForm.scss";
@import "./components/Contact/ContactForm.scss";

.App {
  text-align: center;
  background-color: $blue-main;
  display: grid;
  grid-template-columns: 2rem repeat(12,1fr) 2rem;
  grid-template-rows: 17.5vw auto;
  gap: .5rem;
  align-items: flex-start;
  min-height: 100vh;
  overflow-x: hidden; 
  padding-bottom: 12.5rem;
}

