.Dashboard {
    position: relative;
    z-index: 15;
    grid-column: 1/15;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2rem repeat(12,1fr) 2rem;
    grid-template-rows: auto;
    gap: .5rem;
    row-gap: 2rem;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 15rem;
  }