.Insurance {
    grid-row: 2/3;
    grid-column: 2/8;
    min-height: 15vh;
    // max-height: 45vh;
}

.insurance {

    &-item {
        display: flex;
        background: $blue-accent;
        justify-content: center;
        align-items: center;
        margin: .75rem 0;

        // &-provider {
        // }

        // &-type {
        // }

        // &-group {
        // }

        // &-id {
        // }
        
        // &-deductible {
        // }

        // &-copay {
        //     &-title {
        //     }
        //     &-doctor {
        //     }
        // }

        // &-expand {
        // }

        &-delete {

        }
    }

    &-card {
        &-link {
            &-container {
                width: 100%;
            }
            &-add {
                font-size: 2rem;
                font-style: oblique;
                font-weight: 550;
            }
        } 
    }
    
}