.Symptoms {
    grid-row: 1/2;
    grid-column: 2/8;
    min-height: 30vh;
    max-height: 45vh;
}

.filter-form {
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 1.35vw;
    row-gap: .5vw;
    grid-template-rows: 4.75rem 1fr;
    margin-top: 1.5rem;
    width: 95%;
    margin: 0 auto;

    &-input {
        position: relative;
        background-color: transparent;
        font-size: 1.2vw;
        border: none;
        appearance: none;
        padding-right: 2rem;
        padding: .3vw 1.3vw .3vw .3vw;
        cursor: pointer;
        color: $peach-contrast-heavy;
        // text-transform: capitalize;
        border-bottom: $peach-contrast-heavy solid .15rem;
        z-index: 15;
        &:focus {
            outline: none;
        }

        .down-arrow {
            position: absolute;
            top: 50%;
            right: .5rem;
            transform: translateY(-50%);
            // background-color: beige;
            color: $peach-contrast-heavy;
            font-size: 2rem;
            pointer-events: none;
        }

        p {
            margin-bottom: 2rem;
        }

        li {
            list-style: none;
            text-align: left;
            background: $peach-contrast-heavy;
            padding: 1rem;
            color: $white;
            box-shadow: 0 0 1rem rgba($black, .35);

            &:nth-child(even) {
                // color: $peach-contrast-heavy;
                background: $peach-contrast-light;
            }
        }
        
    }
}

.symptoms {

    &-content {
        &-container {
            margin-top: 1.5rem;
        }
    }
    &-card {
        &-link {
            &-container {
                width: 100%;
            }
            &-add {
                font-size: 2rem;
                font-style: oblique;
                font-weight: 550;
            }
        }
    }

    &-result {
        &-container {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 1fr 1fr;
            padding: 0 1.75rem;
            background: white;
            margin: .75rem 0 2.5rem;
            border-radius: .75rem;
            padding-top: 1rem;
            min-height: 12.5rem;

            box-shadow: 0 0 1.5rem rgba($black, .25);
        }

        &-item {
            &-symptom {
                font-size: 2rem;
                font-weight: 600;
                text-align: left;
                grid-row: 1/2;
                grid-column: 1/2;

                span {
                    font-weight: 400;
                    text-transform: lowercase
                }
            }
            &-type {
                font-size: 2rem;
                font-style: italic;
                text-align: left;
                grid-row: 2/3;
                grid-column: 1/2;
            }
            &-time {
                font-weight: 600;
                font-size: 2rem;
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &-body {
                font-size: 2rem;
                grid-column: 2/3;
                grid-row: 2/3;
                text-align: center;
            }
        }

        &-edit {
            position: absolute;
            right: 0rem;
            bottom: 0rem;
            width: 5rem;
            height: 5rem;
            background-color: $blue-main;
            border-radius: 50%;
            transform: scale(.8) translate(25%,50%);
            &:hover {
                color: $black;
            }
        }
    }
}
// .symptom-delete{
//     color:black;
//     position: absolute;
//     right:0.5rem;
//     top:0.5rem;
//     cursor: pointer;
// }
// .symptom-delete:hover{
//     color:red;
//     transform: scale(1.5);
// }

@media only screen and (max-width: 1000px) {
    .Symptoms {
        grid-row: 1/2;
        grid-column: 2/9;
    }
}

@media only screen and (max-width: 750px) {
    .Symptoms {
        grid-row: 1/2;
        grid-column: 2/14;
    }
}

.bottom-border {
    border-bottom: 6px solid;

    &.mild {
        border-bottom-color: #99DDC8;
    }
    &.moderate {
        border-bottom-color: #fcdd65;
    }
    &.severe {
        border-bottom-color: #FFAF7C;
        &.very {
            border-bottom-color: #6d1528;
        }
    }
}