.Providers {
    grid-column: 9/14;
    grid-row: 1/2;
    min-height: 15vh;
}


.provider {

    &-item{
        display: flex;
        background: $blue-accent;
        border-radius: .75rem;
        padding: .5rem;
        justify-content: center;
        // flex-wrap: wrap;
        align-items: center;

        // &-name {
        //     grid-column: 1/3;
        // }

        // &-title {
        //     grid-column: 1/3;
        // }

        // &-delete {
        //     grid-column: 2/3;
        //     grid-row: 3/3;
        // }

        // &-expand {
        //     grid-column: 2/3;
        //     grid-row: 3/3;
        // }
    }

    &-card-link {
        &-container {
            width: 100%;
        }
        &-add {
            font-size: 2rem;
            font-style: oblique;
            font-weight: 550;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .Providers {
        grid-column: 1/8;
    }
}