.Contacts {
    grid-column: 5/8;
    grid-row: 2/3;
    min-height: 35vh;
}

.contact-card-link {
    &-container {
        width: 100%;
    }
    &-add {
        font-size: 2rem;
        font-style: oblique;
        font-weight: 550;
    }
}