.Insurance {
    grid-column: 1/8;
    grid-row: 1/2;

    min-height: 45vh;
}

.insurance-card {
    &-link {
        &-container {
            width: 100%;
        }
        &-add {
            font-size: 2rem;
            font-style: oblique;
            font-weight: 550;
        }
    } 

    
}
.insurance-delete{
    color:#FF5D44;
    position: absolute;
    right:1rem;
}