.card {
    background-color: $white;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    grid-row: 2/3;
    position: relative;
    z-index: 5;

    &-fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.container-right {
    grid-column: 9/14;
    grid-row: 2/3;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto auto auto;
    // height: 100%;
    gap: .5rem;
}

// select::-ms

.invisible {
    display: none !important;
}

.input-container {
    position: relative;
    width: 95%;
    // background-color: rgb(58, 102, 184);
    text-align: left;
    padding: 1.5rem 5rem 1.5rem .5rem;

    input,
    label {
        display: block;
        width: 100%;
    }

    label {
        font-size: 2.75rem;
        font-weight: 700;
    }

    input {
        font-size: 2rem;
        padding: 1.5rem .25rem 1.5rem 2.5rem;
        margin-left: 2rem;
        background-color: white;
        border: 0;
        box-shadow: 0 .5rem 1.5rem rgba($black, .275);
        border-radius: .25rem;
    }

    .eye-icon {
        position: absolute;
        height: 5rem;
        bottom: 15%;
        right: 6rem;
        font-size: 3rem;
        color: $blue-accent;
        cursor: pointer;
    }
}

.social-container {
    // background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 11vh 0;
    background-color: rgba(244, 249, 255, 0.568);
    box-shadow: inset 0 0 3rem rgba($black, .2);
    max-height: 75%;

    // h1 {
    //     @include heading;
    //     margin-bottom: 3rem;
    // }

    .social-btn-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 5;

        .social-facebook,
        .social-google {
            position: relative;
            box-shadow: 0 -.15rem 3rem rgba($black, .2);
            border-radius: .25rem;
            font-size: 2.25rem;
            padding: 1.75rem 5.5rem 1.75rem 1.5rem;
            margin: 3rem 0;
            cursor: pointer;
            width: 90%;

            span {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .social-google {
            background-color: #1A73E8;
            background-color: #E57373;
        }

        .social-facebook {
            background-color: #3C5A99;
            cursor: default;
        }

        // div {

        //     &:first-child {
        //         margin-left: 2rem;
        //     }

        //     &:last-child {
        //         margin-right: 2rem;
        //     }
        // }
    }
}


.brand-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    font-size: 3.5rem;
    margin-left: .5rem;
    color: $white;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.preface {
    display: inline-block;
    padding: 0 2rem;
}

.item {

    &:hover {
        cursor: pointer;
    }

    &-edit {
        color: $black;
    }

    &-expand {

    }

    &-delete {
        color:rgb(238, 32, 0);            
        
    }
}

.expanded {
    overflow-y: scroll;
}

// .overflow-hidden {
//     overflow: hidden;
// }

.disabled {
    cursor: default;
}

.link {
    color: $blue-dark;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

.hide {
    display: none;
}

:active, :focus {
    outline: none
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.edit-icon {

    &-symptom, &-contact, &-insurance, &-provider {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $white;
        font-size: 1.75rem;
    }
}

.delete-icon {

    &-symptom, &-contact, &-insurance, &-provider {
        color: $white;
        font-size: 1.75rem;
        display: block;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);

        &-wrapper {
            position: absolute;
            bottom: 0rem;
            right: 5rem;
            background-color: $danger;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            transform: scale(.8) translate(25%,50%);
            cursor: pointer;

        }

    }
}

.button {
    background-color: $peach-contrast-heavy;
    border: 3px solid $peach-contrast-light;
    color: $white;
    padding: 1.25rem 1.5rem;
    border-radius: 1.25rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 3rem;
}