


// ************ COLORS ***************
$blue-main: #1262A9;
$blue-accent: #74AAED;
$blue-dark: #0A3862;
$white: #EEF6FF;
$black: rgb(12, 12, 12);
$peach-contrast-light: #FF8D7B;
$peach-contrast-heavy: #FF5D44;

$danger: rgb(241, 60, 54);

// ***********************************






